@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
menu {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 80px;
    z-index: 10;
}
menu .menu-container{
    width: 85%;
    height: 80px;
    background-color: whitesmoke;

 display: flex;
 justify-content: center;
 align-items: center;
}
.menu-container img{
    width: 7%;
    height: 100%;
    object-fit: cover;
}
#res-menu{
    display: none;
}
.menu-container ul{
    display: flex;
    justify-content: space-between;
    width: 93%;
    padding: 15px;
}
.menu-container ul li{
    cursor: pointer;
    color: rgb(76, 75, 75);
}
.menu-container ul li:hover{
    color: black;
}

.service-list{
    position: absolute;
    top: 100%;
    left: 28%;
    width: 250px !important;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px !important;
    opacity: 0;
    display: none;
    gap: 10px   ;
}

.service-list li{
    text-align: start !important;
    width: 100%;
  /*   border: 1px solid; */
}
.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    color: #00c9d0;
    display: inline-block;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.lead{
  font-size:13px;
}
.loader div {
    background-color: #044697;
    display: inline-block;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: .5;
    border-radius: 50%;
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

.loader div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes ballPulseDouble {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}